//

@use "../abstract/function" as fun;

.headers {
  height: 95vh;
  background-image: fun.getColor(primary-gradient);
  background-position: center top;
  background-size: cover;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  position: relative;

  &-logo {
    height: 3.5rem;

    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  &-content {
    position: absolute;
    top: 40%;
    left: 50%;

    transform: translate(-50%, -50%);
  }

  &-title {
    margin-bottom: 5rem;
  }
}
